* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

.conteudo {
    margin-top: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 50px auto;
    width: 414px;
    height: 900px;
    background-color: #fff;
}

.img-yoga {

    display: block;
    margin: 195px auto 150px auto;
}

input {
    width: 321px;
    height: 46px;
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 90%);
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    display: block;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #969696;
    padding-left: 19px;
}

.input-password {
    margin-top: 21px;
}

.forgot-password {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
    color: #000;

    margin: 35px 59px 38px 0;
    display: block;
    text-align: right;

}

button {
    display: block;
    width: 133px;
    height: 46px;
    background: #323232;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin: 0 auto;
}

.link-signup {
    margin: 21px 0 62px 0;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #969696;
    text-align: center;
}

strong {
    color: rgb(50, 50, 50);
}

p {
    text-align: center;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
}

.container {
    margin: 18px auto 80px auto;
    text-align: center;
}

.img-link {
    margin: 0 18px;
}